<ion-tabs>

  	<ion-tab-bar slot="bottom">
    	
		<ion-tab-button tab="buscar">
			<ion-icon name="search-outline"></ion-icon>
      		<ion-label>Buscar</ion-label>
    	</ion-tab-button>

		<ion-tab-button tab="vehiculos">
			<ion-icon name="car-sport-outline"></ion-icon>
			<ion-label>Vehículos</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="agregar">
			<ion-icon name="add-circle-outline"></ion-icon>
			<ion-label>Agregar</ion-label>
		</ion-tab-button>
	
	</ion-tab-bar>

</ion-tabs>
